html {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    background: #eeeeee;

}

body {
    margin: 0;
    /* font-family: "futura"; */
    /* font-family: 'Smokum', cursive; */
    font-family: "anale", mono;
    /*recommend 1920 / 1080 max based on usage stats, use 100% to that point*/
    width: 100%;
    max-width: 1080px;
    height: 100%;
    text-align: center;
    background: white;
    /* -webkit-box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 96px 0px rgba(0, 0, 0, 0.75); */
}



.navbar-toggler {
    border: 0px;
    outline: none;
}



.navbar-toggler[type=button] {
    outline: none !important;
}


.navbar-nav {
    text-align: center;
    margin: 0 auto;

}

.gifka-brand {
    margin: 0 auto;
    content: url("Artefakt_animation_logo_v005_transp.png");
    height: 150px;
    width: 150px;
    padding-bottom: 1rem;
}

.gifka-brand:hover {
    content: url('danas_tongue_01.gif');
    height: 150px;
    width: 150px;
}

.nav-item {
    font-size: 20px;
}



#showreel {

    margin: 3rem, 0, 3rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.showreel-title {
    padding: 2rem;
}

h1,
h2,
h3 {
    color: #616161;
}

h3 {
    padding-top: 2rem;
}